################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GrpcCoreService/bin/Debug/
/GrpcCoreService/obj
/GrpcClientApp/bin/Debug/
/GrpcClientApp/obj
/.vs/GrpcCoreService/
